<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdFP6gQEcUygVXtmuwF8Gpp9xtiIVu38A</string>
	<key>GCM_SENDER_ID</key>
	<string>857595868991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shyakdas.BlogApp</string>
	<key>PROJECT_ID</key>
	<string>blog-app--ios</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-app--ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857595868991:ios:68754bfc32e0919764058a</string>
</dict>
</plist>